:root {
    --base-red-color: #C71111;
    --red-color-borders: #9B0606;
    /*TOP SECTION COLORS  */
    --white-color-crystal: #fff;
    --blue-color-crystal: #37A7F8;
    --light-blue-color-crystal: #8ACEFF;
    --white-color-tiny-crystal: #E9F6FF;
    --red-color-lights: #FF0D0D;
    --red-color-shadow-lights: #D10E0E;
    --red-color-tiny-lights: #FF0D0D;
    --yellow-color-lights: #FAFF0D;
    --yellow-color-shadow-lights: #C7CB13;
    --yellow-color-tiny-lights: #FAFF0D;
    --green-color-lights: #0DFF25;
    --green-color-shadow-lights: #26AF10;
    --green-color-tiny-lights: #0DFF25;
    /*SCREENS SECTION COLORS  */
    --cream-color-screen-borders: #DEDEDE;
    --light-yellow-color-pokemon-screen: #F1F2D3;
    --dark-green-color-screens: #032D29;
    --black-color-search-button: #050505;
    --light-black-color-search-button: #262626;
    --blue-color-other-buttons: #076AA3;
    --light-blue-other-buttons: #139AE7;
}

@font-face {
    font-family: retro-gaming;
    src: url('../fonts/Retro-Gaming.ttf');
}

body {
    font-family: 'retro-gaming';
}

main {    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top {
    background-color: var(--base-red-color);
    width: 100%;
    height: 15vh;
    /* display: flex;    
    flex-direction: row;
    flex-wrap: nowrap; */
    display: flex;      
    flex-direction: column;
}

.top .crystal-lights-wrapper {
    width: 100%;
    height: 90%;
    display: flex;    
    flex-direction: row;
    flex-wrap: nowrap;    
}


    .top .crystal-lights-wrapper .crystal {
        background-color: var(--white-color-crystal);
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4rem;
        margin-top: .5rem;
        margin-left: .5rem;
    }

        .top .crystal-lights-wrapper .crystal .blue-crystal {
            background-color: var(--blue-color-crystal);
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin-left: .2rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

            .top .crystal-lights-wrapper .crystal .blue-crystal .light-blue {
                background-color: var(--light-blue-color-crystal);
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                margin-right: .3rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .top .crystal-lights-wrapper .crystal .blue-crystal .light-blue .white-tiny {
                    background-color: var(--white-color-tiny-crystal);
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    margin-bottom: 1.3rem;
                }

    /* BASE PROPERTIES LIGHTS - START*/
    .top .colors-lights-base {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;        
        justify-content: center;
        align-items: center;
        margin: .5rem 1rem 0rem 0rem;        
    }

    .top .color-lights-shadows {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-left: .15rem;
        display: flex;
        justify-content: center;
    }

    .top .color-lights-tiny {
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        margin-right: .3rem;                
        margin-top: .15rem;
    }
    /* BASE PROPERTIES LIGHTS - END*/

    .top .crystal-lights-wrapper .red-light {
        background-color: var(--red-color-lights);     
    }

        .top .crystal-lights-wrapper .red-light .red-shadow {
            background-color: var(--red-color-shadow-lights);        
        }

            .top .crystal-lights-wrapper .red-light .red-shadow .red-tiny {
                background-color: var(--red-color-tiny-lights);
            }

    .top .crystal-lights-wrapper .yellow-light {
        background-color: var(--yellow-color-lights);
    }

        .top .crystal-lights-wrapper .yellow-light .yellow-shadow {
            background-color: var(--yellow-color-shadow-lights);
        }

            .top .crystal-lights-wrapper .yellow-light .yellow-shadow .yellow-tiny {
                background-color: var(--yellow-color-tiny-lights);
            }

    .top .crystal-lights-wrapper .green-light {
            background-color: var(--green-color-lights);
        }

            .top .crystal-lights-wrapper .green-light .green-shadow {
                background-color: var(--green-color-shadow-lights);
            }

                .top .crystal-lights-wrapper .green-light .green-shadow .green-tiny {
                    background-color: var(--green-color-tiny-lights);
                }
    .top .top-separator {
        width: 100%;
        height: 10%;
        background-color: var(--red-color-borders);        
    }

      
    
/* SCREEN SECTION - START */
.screens {
    background-color: var(--base-red-color);
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.screens input, p {
    color: var(--green-color-lights);    
}

.screens .screen-border {
    background-color:  var(--cream-color-screen-borders);
    display: flex;
    justify-content: center;
    align-items: center;
}

.screens .screen-border .small-screens {
    background-color: var(--dark-green-color-screens);
    width: 93%;
    height: 80%; 
}

    .screens .dark-red {
        background-color: var(--red-color-borders);
        width: 93%;
        height: 93%;
        display: flex;              
        justify-content: center;
        align-items: center;
    }

        .screens .dark-red .dark-red-border {
            background-color: var(--red-color-borders);
            width: 90%;
            height: 95%;
            display: grid;                
            grid-template-columns: 1fr;            
            grid-template-rows: 1.3fr .7fr 1fr;
            gap: .9rem;
        }

        .screens .dark-red .dark-red-border .pokemon-screen-wrapper {                        
            grid-column: 1 / 2;                       
        }

            .screens .dark-red .dark-red-border .pokemon-screen-wrapper .pokemon-screen {
                background-color: var(--light-yellow-color-pokemon-screen);
                width: 93%;
                height: 93%;
                display: flex;                
                justify-content: center;
                align-items: center; 
                position: relative;               
            }

            .screens .dark-red .dark-red-border .pokemon-screen-wrapper .pokemon-screen .msj-error {                
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 1;                
            }
            
            .screens .dark-red .dark-red-border .pokemon-screen-wrapper .pokemon-screen .msj-error p {
                color: gray;            
            }

            .screens .dark-red .dark-red-border .pokemon-screen-wrapper .pokemon-screen .hide-msj {
                display: none;
            }


            .screens .dark-red .dark-red-border .pokemon-screen-wrapper .pokemon-screen img {
                width: 65%;
                
            }

        .screens .dark-red .dark-red-border .pokemon-stats-wrapper {            
            grid-column: 1 / 2;           
        }

            .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen {
                background-color: var(--dark-green-color-screens);
                width: 93%;
                height: 90%;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                font-size: 1rem;
                text-align: center;                                
            }             

                .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen div p {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen .number {
                    font-size: 1rem;
                }

                .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen .hp {                                        
                    grid-column: 1 / 2;
                    display: flex;
                    flex-direction: column;
                }

                    .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen div .align-stats {
                        width: 100%;
                        height: 50%;                       
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                    }                    

                .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen .attack {                   
                    grid-column: 2 / 3;
                }

                .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen .defense {                    
                    grid-column: 3 / 4;
                }

                .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen .speed {                    
                    grid-column: 4 / 5;
                }

                .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen .sattack {                   
                    grid-column: 5 / 6;
                }

                .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen .sdefense {                   
                    grid-column: 6 / 7;
                }

            .screens .dark-red .dark-red-border .other-controllers {
                background-color: var(--red-color-borders);
                grid-column: 1 / 2;
                display: grid;
                grid-template-columns: 1.5fr .5fr;
                grid-template-rows: repeat(3, 1fr);
                gap: .8rem;
            }

                .screens .dark-red .dark-red-border .other-controllers .type-pokemon-wrapper {
                    grid-column: 1 / 2;
                }                  

                    .screens .dark-red .dark-red-border .other-controllers .type-pokemon-wrapper .type-pokemon input{                        
                        background-color: var(--dark-green-color-screens);
                        border: none;
                        width: 97%;
                        height: 90%;
                        text-align: center;
                    }

                    .screens .dark-red .dark-red-border .other-controllers .type-pokemon-wrapper .type-pokemon input:focus {
                        outline: none;
                    }

                .screens .dark-red .dark-red-border .other-controllers .search-button-wrapper {
                    background-color: var(--red-color-borders);
                    grid-column: 2 / 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .screens .dark-red .dark-red-border .other-controllers .search-button-wrapper .search-button-base {
                    background-color: var(--black-color-search-button);
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    display: flex;                    
                    justify-content: flex-end;                    
                    text-decoration: none;                    
                }

                .screens .dark-red .dark-red-border .other-controllers .search-button-wrapper .search-button-base .content-search-button {
                    background-color: var(--light-black-color-search-button);
                    border-radius: 50%;
                    width: 3.7rem;
                    height: 3.7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;                   
                }                  
                   

                .screens .dark-red .dark-red-border .other-controllers .height-screen-wrapper {
                    grid-column: 1 / 2;
                }

                .screens .dark-red .dark-red-border .other-controllers .height-screen-wrapper .height-screen {
                    text-align: center;                    
                }
                   
                .screens .dark-red .dark-red-border .other-controllers .blue-buttons-wrapper {
                    background-color: var(--blue-color-other-buttons);
                    grid-column: 2 / 3;
                    grid-row: 2 / 4;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                }

                    .screens .dark-red .dark-red-border .other-controllers .blue-buttons-wrapper .blue-buttons {
                        background-color: var(--light-blue-other-buttons);
                        width: 95%;
                        height: 95%;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                        gap: .8px;
                    }

                        .screens .dark-red .dark-red-border .other-controllers .blue-buttons-wrapper .blue-buttons .blue-button { 
                            border: 1px solid rgb(63, 62, 62);                        
                        }

                .screens .dark-red .dark-red-border .other-controllers .weight-screen-wrapper {
                    grid-column: 1 / 2;
                }

                    .screens .dark-red .dark-red-border .other-controllers .weight-screen-wrapper .weight-screen {
                        text-align: center;                    
                    }  
            

            
    

/* SCREEN SECTION - END */

@media (max-height: 815px) {
    .top .crystal-lights-wrapper .crystal {
        width: 4rem;
        height: 4rem;
    }

    .top .crystal-lights-wrapper .crystal .blue-crystal {
        width: 3rem;
        height: 3rem;
    }

    .top .crystal-lights-wrapper .crystal .blue-crystal .light-blue {
        width: 1.5rem;
        height: 1.5rem;
    }

    .top .crystal-lights-wrapper .crystal .blue-crystal .light-blue .white-tiny {
        width: .4rem;
        height: .4rem;
        margin-bottom: .4rem;
    }

    .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen div .align-stats:first-child {     
        justify-content: flex-start;
        margin-top: 2px;
    }

    .screens .dark-red .dark-red-border .pokemon-screen-wrapper .pokemon-screen img {
        width: 56%;        
    }
}

@media (min-width: 820px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        width: 620px;
        height: 1180;
    }

}

@media (max-width: 370px) {
    .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen .number {
        font-size: .8rem;
    }

    .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen {
        font-size: .8rem;
    }

    .screens .dark-red .dark-red-border .other-controllers input, p {
        font-size: .7rem;
    }

}


