:root {
    --base-red-color: #C71111;
    --red-color-borders: #9B0606;
    /*TOP SECTION COLORS  */
    --white-color-crystal: #fff;
    --blue-color-crystal: #37A7F8;
    --light-blue-color-crystal: #8ACEFF;
    --white-color-tiny-crystal: #E9F6FF;
    --red-color-lights: #FF0D0D;
    --red-color-shadow-lights: #D10E0E;
    --red-color-tiny-lights: #FF0D0D;
    --yellow-color-lights: #FAFF0D;
    --yellow-color-shadow-lights: #C7CB13;
    --yellow-color-tiny-lights: #FAFF0D;
    --green-color-lights: #0DFF25;
    --green-color-shadow-lights: #26AF10;
    --green-color-tiny-lights: #0DFF25;
    /*SCREENS SECTION COLORS  */
    --cream-color-screen-borders: #DEDEDE;
    --light-yellow-color-pokemon-screen: #F1F2D3;
    --dark-green-color-screens: #032D29;
    --black-color-search-button: #050505;
    --light-black-color-search-button: #262626;
    --blue-color-other-buttons: #076AA3;
    --light-blue-other-buttons: #139AE7;

}

main {
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top {
    background-color: var(--base-red-color);
    width: 100%;
    height: 15vh;
    display: flex;    
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1rem solid var(--red-color-borders);    
}

    .top .crystal {
        background-color: var(--white-color-crystal);
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4rem;
        margin-top: .5rem;
        margin-left: .5rem;
    }

        .top .crystal .blue-crystal {
            background-color: var(--blue-color-crystal);
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin-left: .2rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

            .top .crystal .blue-crystal .light-blue {
                background-color: var(--light-blue-color-crystal);
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                margin-right: .3rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .top .crystal .blue-crystal .light-blue .white-tiny {
                    background-color: var(--white-color-tiny-crystal);
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    margin-bottom: 1.3rem;
                }

    /* BASE PROPERTIES LIGHTS - START*/
    .top .colors-lights-base {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;        
        justify-content: center;
        align-items: center;
        margin: .5rem 1rem 0rem 0rem;        
    }

    .top .color-lights-shadows {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-left: .15rem;
        display: flex;
        justify-content: center;
    }

    .top .color-lights-tiny {
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        margin-right: .3rem;                
        margin-top: .15rem;
    }
    /* BASE PROPERTIES LIGHTS - END*/

    .top .red-light {
        background-color: var(--red-color-lights);     
    }

        .top .red-light .red-shadow {
            background-color: var(--red-color-shadow-lights);        
        }

            .top .red-light .red-shadow .red-tiny {
                background-color: var(--red-color-tiny-lights);
            }

    .top .yellow-light {
        background-color: var(--yellow-color-lights);
    }

        .top .yellow-light .yellow-shadow {
            background-color: var(--yellow-color-shadow-lights);
        }

            .top .yellow-light .yellow-shadow .yellow-tiny {
                background-color: var(--yellow-color-tiny-lights);
            }

    .top .green-light {
            background-color: var(--green-color-lights);
        }

            .top .green-light .green-shadow {
                background-color: var(--green-color-shadow-lights);
            }

                .top .green-light .green-shadow .green-tiny {
                    background-color: var(--green-color-tiny-lights);
                }
    
/* SCREEN SECTION - START */
.screens {
    background-color: var(--base-red-color);
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.screens .screen-border {
    background-color:  var(--cream-color-screen-borders);
    display: flex;
    justify-content: center;
    align-items: center;
}

.screens .screen-border .small-screens {
    background-color: var(--dark-green-color-screens);
    width: 93%;
    height: 80%; 
}

    .screens .dark-red {
        background-color: var(--red-color-borders);
        width: 93%;
        height: 93%;
        display: flex;              
        justify-content: center;
        align-items: center;
    }

        .screens .dark-red .dark-red-border {
            background-color: var(--red-color-borders);
            width: 90%;
            height: 95%;
            display: grid;                
            grid-template-columns: 1fr;            
            grid-template-rows: 1.3fr .7fr 1fr;
            gap: .9rem;
        }

        .screens .dark-red .dark-red-border .pokemon-screen-wrapper {                        
            grid-column: 1 / 2;                       
        }

            .screens .dark-red .dark-red-border .pokemon-screen-wrapper .pokemon-screen {
                background-color: var(--light-yellow-color-pokemon-screen);
                width: 93%;
                height: 93%;                
            }

        .screens .dark-red .dark-red-border .pokemon-stats-wrapper {            
            grid-column: 1 / 2;           
        }

            .screens .dark-red .dark-red-border .pokemon-stats-wrapper .pokemon-stats-screen {
                background-color: var(--dark-green-color-screens);
                width: 93%;
                height: 90%;               
            }

            .screens .dark-red .dark-red-border .other-controllers {
                background-color: var(--red-color-borders);
                grid-column: 1 / 2;
                display: grid;
                grid-template-columns: 1.5fr .5fr;
                grid-template-rows: repeat(3, 1fr);
                gap: .8rem;
            }

                .screens .dark-red .dark-red-border .other-controllers .type-pokemon-wrapper {
                    grid-column: 1 / 2;
                }                  

                    .screens .dark-red .dark-red-border .other-controllers .type-pokemon-wrapper .type-pokemon input{                        
                        background-color: var(--dark-green-color-screens);
                        border: none;
                        width: 97%;
                        height: 90%;
                    }

                    .screens .dark-red .dark-red-border .other-controllers .type-pokemon-wrapper .type-pokemon input:focus {
                        outline: none;
                    }

                .screens .dark-red .dark-red-border .other-controllers .search-button-wrapper {
                    background-color: var(--red-color-borders);
                    grid-column: 2 / 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .screens .dark-red .dark-red-border .other-controllers .search-button-wrapper .search-button-base {
                    background-color: var(--black-color-search-button);
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    display: flex;                    
                    justify-content: flex-end;
                    align-items: fle;
                    text-decoration: none;                    
                }

                .screens .dark-red .dark-red-border .other-controllers .search-button-wrapper .search-button-base .content-search-button {
                    background-color: var(--light-black-color-search-button);
                    border-radius: 50%;
                    width: 3.7rem;
                    height: 3.7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;                   
                }                  
                   

                .screens .dark-red .dark-red-border .other-controllers .height-screen-wrapper {
                    grid-column: 1 / 2;
                }
                   
                .screens .dark-red .dark-red-border .other-controllers .blue-buttons-wrapper {
                    background-color: var(--blue-color-other-buttons);
                    grid-column: 2 / 3;
                    grid-row: 2 / 4;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                }

                    .screens .dark-red .dark-red-border .other-controllers .blue-buttons-wrapper .blue-buttons {
                        background-color: var(--light-blue-other-buttons);
                        width: 95%;
                        height: 95%;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                        gap: .8px;
                    }

                        .screens .dark-red .dark-red-border .other-controllers .blue-buttons-wrapper .blue-buttons .blue-button { 
                            border: 1px solid rgb(63, 62, 62);                        
                        }

                .screens .dark-red .dark-red-border .other-controllers .weight-screen-wrapper {
                    grid-column: 1 / 2;
                }

       
            

            
    

/* SCREEN SECTION - END */